{% extends "base.html.twig" %}
{% block title %}{{anonces.title}} - {{anonces.tags}} {% endblock %}
{% block body %}

{% include "navbar/navbar.html.twig" %}
<h1>page show article</h1>
<p> id :{{ anonces.id }}</p>
<p>titre :{{ anonces.title }}</p>
<p>description : {{ anonces.description }}</p>
<p>prix : {{ anonces.prix }} </p>
{% if anonces.image != null %}
<img src="{{ anonces.image }}" alt="" srcset="">
{% else %}
<img src="{{ asset('image/uploads/anonces/DefaultImage.png') }}" alt="" srcset="">
{% endif %}
<p>tags : {{ anonces.tags }}</p>
{# <p>date de publications 1: {{ anonces.0.createPost.date }}</p> #}
<br><br><br>

<h2>poser une question </h2>
{% if app.user %}
<form action="" method="post">

<label for="content">content</label>
<input type="text" class="" id="content" name="content">
<br>

<button type="submit" class="">possezr la questions</button>
{% else %}
    il faut etre co pour posser une question
{% endif %}

<h2>questions</h2>
{% if questions %}
{% for questionss in questions %}
<p> id :{{ questionss.id }}</p>
<p>content :{{ questionss.content }}</p>
<p>anonces id  : {{ questionss.Anonces.id }}</p>
<p>user id : {{ questionss.user.id }} </p>
<p>user email : {{ questionss.user.email }} </p>
<p>user name : {{ questionss.user.name }} </p>
<p>user lastname : {{ questionss.user.lastname }} </p>
<br><br>
{% endfor %}
{% endif %}



{% endblock %}
