{% extends "base.html.twig" %}
{% block title %}{{anonces.title}} - {{anonces.tags}} {% endblock %}
{% block body %}

{% include "navbar/navbar.html.twig" %}

<div class="pageAnnonce">
    <div class="pageContainerAnnonce">
        <div class="pageImageAnnonce">
            {% if anonces.image != null %}
                <img src="{{ anonces.image }}" alt="" srcset="">
            {% else %}
                <img src="{{ asset('image/uploads/anonces/DefaultImage.png') }}" alt="" srcset="">
            {% endif %}
        </div>
        <div class="pageBodyAnnonce">
            <h3>{{ anonces.title }}</h3>
            <div class="annoncePrix">{{ anonces.prix }}€</div>
            <h4>Description</h4>
            <p>{{ anonces.description }}</p>
            <h4>Tags</h4>
            <p>{{ anonces.tags }}</p>
            {% if is_granted('ROLE_USER') %}
                <div class="listBoutonsAnnonce">
                    <a href="{{ path('modifyAnoncespage', { ids: anonces.id }) }}" class="btn">Modifier</a>
                    <a href="{{ path('deleteAnonces', { ids: anonces.id }) }}" class="btn">Supprimer</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="pageAnnonceQuestion">
    <h3>Commentaires :</h3>
    {% if app.user %}
    <form action="" method="post">
        <div class="champCommentaire">     
            <textarea rows="3" id="content" name="content"></textarea>
            <button type="submit" class="btn">Commenter</button>     
        </div>
    </form>
    {% else %}
    Vous devez être connecté pour pouvoir commenter.
    {% endif %}
    {% if questions %}
    {% for questionss in questions %}
        <div class="listQuestions">
            <div class="userQuestionInfo">
                <img src="" alt="Photo de l'utilisateur" class="userPic">
                <p>{{ questionss.user.lastname }} {{ questionss.user.name }}</p>
            </div>
            <div class="questionBody">
                <p>{{ questionss.content }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}
