{% extends "base.html.twig" %}
{% block title %}profil de {{ user.name }}{% endblock %}
{% block body %}

{% include "navbar/navbar.html.twig" %}

<header class="headerProfil">
    <div class="containerForm">
    <h1>PROFIL</h1>
        <form action="{{ path('createUsers') }}" method="post">
            <table>
                <tr>
                    <td>Prénom</td>
                    <td><input type="text" class="" id="Name" name="Name" value="{{ user.lastname }}" disabled></td>
                </tr>
                <tr>
                    <td>NOM</td>
                    <td><input type="text" class="" id="lastName" name="lastName" value="{{ user.name }}" disabled></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" class="" id="email" name="email" value="{{ user.email }}" disabled></td>
                </tr>
                <tr>
                    <td>Nombre de vote</td>
                    <td><input type="text" class="" id="vote" name="vote" value="{{ user.votes }}" disabled></td>
                </tr>
            </table>
        </form>
    </div>
</header>

{% endblock %}
