{% extends "base.html.twig" %}
{% block title %}Anonces{% endblock %}
{% block body %}
{% include "navbar/navbar.html.twig" %}

<header class="headerAnnonces">
  <h1>Annonces</h1>
</header>

<div class="listAnnonces">
{% for anonce in anonces %}
    <a href="{{ path('ShowAnonces', { ids: anonce.id }) }}">
        <div class='containerAnnonce'>
            <div class="imageAnnonce">
                {# <img src="{{ anonce.image }}" alt="image de l'annonce"> #}
                {# {% if anonce.image != null %}
                <img src="{{ anonce.image }}" alt="image de l'annonce" srcset="">
                {% else %}
                <img src="{{ asset('image/uploads/anonces/DefaultImage.png') }}" alt="" srcset="">
                {% endif %} #}
            </div>
            <div class="bodyAnnonce">
                <h3>{{ anonce.title }}</h3>
                <div class="annoncePrix">{{ anonce.prix }}€</div>
                <p class="annonceDescription">
                    {{ anonce.description }}
                </p>
                {% if is_granted('ROLE_USER') %}
                <div class="listBoutonsAnnonce">
                    <a href="{{ path('modifyAnoncespage', { ids: anonce.id }) }}">Modifier</a>
                    <a href="{{ path('deleteAnonces', { ids: anonce.id }) }}">Supprimer</a>
                </div>
                {% endif %}
            </div>
        </div>
    </a>
{% endfor %}
</div>

{{ knp_pagination_render(anonces) }}

{% endblock %}