{% extends "base.html.twig" %}
{% block title %}Anonces{% endblock %}
{% block body %}
{% include "navbar/navbar.html.twig" %}

<h1>tous les articles</h1>

{% for anonce in anonces %}
    <p> id :{{ anonce.id }}</p>
    <p>titre :{{ anonce.title }}</p>
    <p>description : {{ anonce.description }}</p>
    <p>prix : {{ anonce.prix }} </p>
    <p>image : {{ anonce.image }}</p>
    <p>tags : {{ anonce.tags }}</p>
    {# <p>date de publications : {{ anonce.createPost.date }}</p> #}
    <a href="{{ path('ShowAnonces', { ids: anonce.id }) }}">voir plus</a>

    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('modifyAnoncespage', { ids: anonce.id }) }}">modifier</a>
    <a href="{{ path('deleteAnonces', { ids: anonce.id }) }}">suprimer</a>
    {% endif %}
    
    <br><br><br>
{% endfor %}

{% endblock %}