<nav class="navbar">
  <a href="{{ path('HomePage') }}" class="navbar-brand">
    Navbar
  </a>
  <div class="navbar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ path('HomePage') }}" class="nav-link">Accueil</a>
      </li>
      <li class="nav-item">
        <a href="{{ path('Anonces') }}" class="nav-link">Annonces</a>
      </li>
      {% if app.user %}
        <li class="nav-item">
            <a href="{{ path('AddAnoncespage') }}" class="nav-link">Ajouter une annonce</a>
        </li>
      {% endif %}

      {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a href="{{ path('ProfilPage') }}" class="nav-link">Bonjour {{ app.user.username }} !</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{{ path('RegistrationPage') }}" class="nav-link">Inscription</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>




{# {% for user in users %}
<a href="{{ path('ProfilPage', { email: user.email }) }}">profil</a>
{% endfor %} #}

