<nav class="navbar">
  <a href="{{ path('HomePage') }}" class="navbar-brand">
    <img src="{{ asset('image/Logo2.png') }}" alt="Logo Leboncoin du pauvre" class="logo">
  </a>
  <div class="navbar-nav">
    <ul class="nav-list">
      <a href="{{ path('HomePage') }}">
        <li class="btn">
          Accueil
        </li>
      </a>
      <a href="{{ path('Anonces') }}">
        <li class="btn">
          Annonces
        </li>
      </a>
      {% if app.user %}
      <a href="{{ path('AddAnoncespage') }}">
        <li class="btn">
            Ajouter une annonce
        </li>
      </a>
      {% endif %}

      {% if is_granted('ROLE_USER') %} 
      <a href="{{ path('app_logout') }}">
        <li class="btn">
            Déconnexion
        </li>
      </a>
      <a href="{{ path('ProfilPage') }}">
        <li class="">
            Bonjour {{ app.user.lastname }} !
        </li>
      </a>
        {% else %}
        <a href="{{ path('RegistrationPage') }}">
          <li class="btn">
              Inscription
          </li>
        </a>
        <a href="{{ path('app_login') }}">
          <li class="btn">
              Connexion
          </li>
        </a>
      {% endif %}
    </ul>
  </div>
</nav>




{# {% for user in users %}
<a href="{{ path('ProfilPage', { email: user.email }) }}">profil</a>
{% endfor %} #}

